[DEFAULT]
dim = 2
# seed = 0 - no seed
train = False
add_noise = True
# change this
svm_path = ..\TrainedSVM\100_Noise_2D.pkl
angle_res = 15

[train]
criteria = [2, 2, 4, 4]
number_of_tomograms = 10

[evaluate]
criteria = [2, 3, 4, 2]
number_of_tomograms = 1
#metrics_output_file = ..\SVM_Metrics_Results\100_No_Noise_2D_0066.pkl
