[DEFAULT]
dim = 3
# seed =      not in use
train = True
add_noise = False
svm_path = ..\TrainedSVM\10_No_Noise_3D_PDB_555.pkl
template_file_path = .\Templates\
angle_res = 60

[train]
criteria = [5, 5, 5]
number_of_tomograms = 10
# generate_templates = True
#templates_type = GEOMETRIC_3D
templates_type = PDBS_3D

[evaluate]
criteria = [5, 5, 5]
number_of_tomograms = 5
#metrics_input_file =       not in use
metrics_output_file = ..\SVM_Metrics_Results\10_No_Noise_3D_PDB_555.pkl
